<app-navbar></app-navbar>
<div class="body" style="padding-left: 50px; padding-right: 50px">
  <h1 style="text-align: center">Grades</h1>
  <div class="table-container"
       style="border: 1px solid black;
            border-radius: 5px"
       *ngIf="grades.length > 0"
  >
    <table class="table table-striped">
      <thead>
      <tr>
        <th (click)="sortTable('gradeValue')">
          <a class="hoverTableHead"> Grade Value </a>
          <img *ngIf="sortColumn === 'gradeValue' && isAscending" src="assets/svg/sort-up.svg" alt="Ascending">
          <img *ngIf="sortColumn === 'gradeValue' && !isAscending" src="assets/svg/sort-down-alt.svg" alt="Descending">
        </th>
        <th (click)="sortTable('student.name')">
          <a class="hoverTableHead"> Student Name </a>
          <img *ngIf="sortColumn === 'student.name' && isAscending" src="assets/svg/sort-up.svg" alt="Ascending">
          <img *ngIf="sortColumn === 'student.name' && !isAscending" src="assets/svg/sort-down-alt.svg"
               alt="Descending">
        </th>
        <th (click)="sortTable('student.email')">
          <a class="hoverTableHead"> Student Email </a>
          <img *ngIf="sortColumn === 'student.email' && isAscending" src="assets/svg/sort-up.svg" alt="Ascending">
          <img *ngIf="sortColumn === 'student.email' && !isAscending" src="assets/svg/sort-down-alt.svg"
               alt="Descending">
        </th>
        <th (click)="sortTable('subject.subjectName')">
          <a class="hoverTableHead"> Subject Name </a>
          <img *ngIf="sortColumn === 'subject.subjectName' && isAscending" src="assets/svg/sort-up.svg" alt="Ascending">
          <img *ngIf="sortColumn === 'subject.subjectName' && !isAscending" src="assets/svg/sort-down-alt.svg"
               alt="Descending">
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let g of grades;">
        <td>{{ g.gradeValue }}</td>
        <td>{{ g.student.name }}</td>
        <td>{{ g.student.email }}</td>
        <td>{{ g.subject.subjectName }}</td>
        <td style="display: flex; justify-content: space-around">
          <button type="button" class="btn btn-primary" (click)="editGrade(g)">
            Edit
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteGrade(g.gradeId);">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="div-container" *ngIf="!isTableVisible">
    <div class="div-content" *ngFor="let g of grades">
      <p>
        <b> Grade Value </b> {{ g.gradeValue }}
      </p>
      <p>
        <b> Student Name: </b> {{ g.student.name }}
      </p>
      <p>
        <b> Student Email: </b> {{ g.student.email }}
      </p>
      <p>
        <b> Subject Name </b> {{ g.subject.subjectName }}
      </p>
      <button type="button" class="btn btn-primary" (click)="editGrade(g); onEditClickScrollToElement()">
        Edit
      </button>
      <button type="button" class="btn btn-danger" (click)="deleteGrade(g.gradeId)">
        Delete
      </button>
    </div>
  </div>
  <form #reportForm="ngForm"
        *ngIf="expandRow"
        #scrollToElement
  >
    <div class="form-group">
      <label for="subjectId">Subject:</label>
      <select class="form-control" id="subjectId" [(ngModel)]="newGrade.subjectId" name="subjectId">
        <option *ngFor="let subject of subjects" [value]="subject.subjectId">{{ subject.subjectName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="studentId">Student:</label>
      <select class="form-control" id="studentId" [(ngModel)]="newGrade.studentId" name="studentId">
        <option *ngFor="let student of students" [value]="student.studentId">{{ student.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="gradeValue">Grade Value:</label>
      <input type="number" class="form-control" id="gradeValue" [(ngModel)]="newGrade.gradeValue" name="gradeValue">
    </div>
    <div style="padding-top: 10px">
      <button type="button" class="btn btn-success" [disabled]="!reportForm.form.valid" (click)="addGrade()">Send
      </button>
      <button type="button" class="btn btn-danger" (click)="cancelAddGrade()">Cancel</button>
    </div>
  </form>

  <form *ngIf="selectedGrade"
        #reportForm="ngForm"
        #scrollToElement
  >
    <label>Grade Value</label>
    <input type="number" [(ngModel)]="selectedGrade.gradeValue" name="Grade Value" placeholder="Value" required/>
    <div style="padding-top: 10px;">
      <button type="submit" class="btn btn-success" [disabled]="!reportForm.form.valid" (click)="updateGrade()">Save
      </button>
      <button type="submit" class="btn btn-danger" (click)="cancelEditedGrade()">Cancel</button>
    </div>
  </form>
  <div style="text-align: center; margin-top: 10px" *ngIf="!expandRow">
    <button type="button" class="btn btn-info" (click)="expandRow = true">Add Grade</button>
  </div>
</div>
<app-footer class="footer"></app-footer>
